body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.container{
    width: 236px;
    height: 354px;
    padding: 4rem;
}

.inner-img{
    border-radius: 5%;
}

.button{
    width: 55px;
    height: 55px;
    display:inline-block;
    border-radius: 50%;
    background-color:aliceblue;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
    right: -290px;
    transition: 0.35s;
    opacity: 0;
    cursor: pointer;
}

.elliptical{
    background-color: aliceblue;
    text-align: center;
    width: 280px;
    height: 55px;
    border-radius: 60px;
    line-height: 50px;
    position: relative;
    left: 25px;
    top: -80px;
    transform: translateY(-30px);
    transition: 0.35s;
    cursor: pointer;
    opacity: 0;
    white-space: nowrap;
    font-size: 0.9rem;
}

.save{
    background-color: red;
    color: white;
    text-align: center;
    width: 90px;
    height: 45px;
    border-radius: 60px;
    line-height: 7px;
    position: absolute;
    left: 460px;
    top: 85px;
    font-size: 1.2rem;
    transform: translateY(-50px);
    transition: 0.35s;
    cursor: pointer;
    opacity: 0;
}


.container:hover .save{
    transform: translateY(10px);
    opacity: 1;
}

.container:hover .button{
    transform: translateY(-40px);
    opacity: 1;
}

.container:hover .elliptical{
    transform: translateY(-70px);
    opacity: 1;
}

.container:hover .inner-img{
   filter: brightness(0.7);

}